@import url('../fonts/stylesheet.css');

/*!
 * Gorillaz Unoffical (http://gorillaz-unofficial.com/)
 * Copyright 2016 Michaelletcher.com.
 */

body {
    font-family: "Lato", sans-serif;
}
.container-wrapper {
    min-height: 95%;
}
#band-location ,
#discography-location {
    position: relative;
    top: -50px;
}
@media (min-width: 1200px) {
    #band-location ,
    #discography-location {
        top: -60px;
    }
}

/* Typography */
.title {
    text-transform: uppercase;
}

/* Navigation */
.navbar-white {
    background-color: #fff;
    color: rgba(0,0,0,.84);
}
.navbar-brand {
    font-family: Gorillaz1;
}
.nav li a {
    font-family: Lato, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}

/* Slider */
.carousel-inner .fill {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}
.carousel-caption {
    color: white;
}

/* Band */
#band-wrapper {
    background-color: white;
}
.member-outer-wrapper {
    padding-bottom: 10px;
}
.member-inner-wrapper {
    display: table; /*forces divs width to the content within */
    position: relative;
    margin: auto;
    overflow: hidden;
}
.member-inner-wrapper > img {
    max-height: 302px;
    max-width: 236px;
}
.member-inner-wrapper h2, .member-inner-wrapper div {
    position:absolute;
    top: 0;
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity 0.5s; /* Safari */
    transition: opacity 0.5s;
}
.member-inner-wrapper:hover h2, .member-inner-wrapper:hover div {
    opacity: 1;
}
.img-text {
    z-index: 10;
    text-align: center;
    font-family: Gorillaz1,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.cover {
    z-index: 8;
    background-color: rgba(0,0,0,0.5);
    height: 100%;
}
#band .btn.active {
    background-color: rgba(153, 153, 153, 0.2);
}