<!DOCTYPE html>
<html lang="en" data-ng-app="GorillazApp">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Gorillaz-Unofficial - 100% Unoffical 100% Gorillaz</title>
    <link rel="icon" type="image/x-icon" href="fav.png" />

    <link rel="stylesheet" href="Content/bootstrap.min.css" />
    <link rel="stylesheet" href="Content/bootstrap.paper.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

    <link rel="stylesheet" href="Content/style.min.css" />
    <link rel="stylesheet" href="Content/full-slider.min.css" />
</head>
<body data-ng-controller="homeController">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gorillaz-navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Gorillaz-Unofficial</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="gorillaz-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
                    <li><a href="#news">News <i class="fa fa-external-link" aria-hidden="true"></i></a></li>
                    <li><a href="#">Forums <i class="fa fa-external-link" aria-hidden="true"></i></a></li>
                    <li><a href="#band-location">Band</a></li>
                    <li><a href="#discography-location">Discography</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    
    <!-- Home Section -->
    <div id="home-carousel" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox" data-ng-cloak>
            <div class="item {{x.isActive}}" data-ng-repeat="x in slides">
                <div class="fill" style="background-image:url('{{x.imageURL}}');"></div>
            </div>
        </div>
    </div>

    <!-- Band Section -->
    <div id="band-location"></div>
    <div id="band-wrapper" class="container-wrapper">
        <div id="band" class="container" data-ng-cloak>
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="title text-center">The Band</h1>
                    <div class="col-xs-12 col-sm-4 member-outer-wrapper" data-ng-repeat="member in members" >
                        <div class="member-inner-wrapper">
                            <h2 class="img-text">{{member.name}}</h2>
                            <div class="cover"></div>
                            <img data-ng-src="{{member.imageURL}}" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Discography Section -->
    <div id="discography-location"></div>
    <div id="discography-wrapper" class="container-wrapper">
        <div id="discography" class="container" data-ng-cloak>
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="title text-center">Discography</h1>
                    <h4 class="title">Studio Albums</h4>
                    <div class="col-xs-12 col-sm-4 member-outer-wrapper" data-ng-repeat="album in studioAlbums">
                        <div class="member-inner-wrapper">
                            <h2 class="img-text">{{member.name}}</h2>
                            <div class="cover"></div>
                            <img data-ng-src="{{member.imageURL}}" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="wrapper">
        <iframe src="http://www.livejournal.com/users/gorillaz_news#newssite"></iframe>
    </div>-->

    <script src="Scripts/jquery-1.10.2.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-route.min.js"></script>
    <script src="Scripts/firebase.js"></script>
    <script src="Scripts/angularfire.min.js"></script>
    <script src="Scripts/app.js"></script>
    <script src="Scripts/Controllers/homeController.js"></script>
    <script src="Scripts/script.js"></script>
    <script src="Scripts/holder.js"></script>
</body>
</html>